.form{
	width:100vw;
	height:100vh;
	background-color: rgb(2, 2, 2);
	justify-content: center;
	align-items: center;
	display: flex;

}
.form_div{
	width:500px;
	height:500px;
	background-color: white;
	
	
}
.inputs{
	
	position: relative;
	top:75px;
     left:120px;
	
}
#Email,#Pass{
	width:260px;
	height:30px;
	background-color:#bef5f5;
	border-bottom: 2px solid green;
	margin-bottom: 7px;
	outline: none;
	border: none;
	border-bottom: 2px solid red;
	padding: 10px 10px 10px 10px;


}

.Sign_in{
	width:120px;
	height:40px;
	background-color: green;
	outline: none;
	border: none;
	margin-left: 77px;
	margin-top: 10px;
}
::placeholder{
	font-size: 13px;
	font-weight: 700;
	color: black;
}
input:focus{
	border:1px solid transparent;
}